<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c2635dc5-087c-4847-9866-57f711178de1/resourcegroups/DotnetCore2Research/providers/Microsoft.Web/sites/DotnetCore2ResearchAzure20190508061618</ResourceId>
    <ResourceGroup>DotnetCore2Research</ResourceGroup>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://dotnetcore2researchazure20190508061618.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <IsLinux>true</IsLinux>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>ef5d6547-a171-4810-bdd1-9a08ea7526d3</ProjectGuid>
    <MSDeployServiceURL>waws-prod-dm1-145.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DotnetCore2ResearchAzure20190508061618</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$DotnetCore2ResearchAzure20190508061618</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>netcoreapp2.1</TargetFramework>
    <SelfContained>false</SelfContained>
    <_IsPortable>true</_IsPortable>
  </PropertyGroup>
</Project>